<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom">
  <a class="navbar-brand" href="#"
    ><i
      class="fa-solid fa-compass"
      style="color: #ff2424; margin-left: 10px"
    ></i
  ></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  ></button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ms-auto">
      <a class="nav-item nav-link" href="/signup">Signup</a>
      <a class="nav-item nav-link" href="/login">Login</a>
      <a class="nav-item nav-link" href="/logout">Logout</a>
    </div>
  </div>
</nav>
